automation/job-ingest-imap.workflow.json
{
  "name": "Email → Tracker (Applied) — IMAP",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_YOUR_IMAP_CREDENTIAL",
          "name": "Gmail IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const htmlToText = (h) => (h || '').replace(/<!--[\\s\\S]*?-->/g, ' ').replace(/<(style|script)[\\s\\S]*?<\\/\\1>/gi, ' ').replace(/<[^>]+>/g, ' ').replace(/&nbsp;/gi, ' ').replace(/&amp;/gi, '&').replace(/&lt;/gi, '<').replace(/&gt;/gi, '>').replace(/&[#a-z0-9]+;/gi, ' ').replace(/\\s+/g, ' ').trim();\nconst clean = (t) => (t || '').replace(/https?:\\/\\/\\S+/g, ' ').replace(/[\\u200B\\u200C\\u200D\\u2060\\u00AD\\u034F\\uFEFF]/g, '').replace(/\\s+/g, ' ').trim();\nconst cut = (t) => { const m = t.search(/view similar jobs|take these next steps|jobs you may be interested in/i); return m > 40 ? t.slice(0, m).trim() : t; };\nreturn $input.all().map((item, i) => {\n  const subject = item.json.subject || '';\n  const from = (item.json.from && item.json.from.text) || item.json.from || '';\n  const stripped = htmlToText(item.json.html || item.json.textHtml || item.json.textAsHtml || '');\n  const text = cut(clean((((item.json.text || '') + ' ' + stripped).trim() || item.json.snippet || ''))).slice(0, 6000);\n  const system = \"You classify job-application emails and output JSON only. Set is_application_confirmation=true when the email confirms the user has ALREADY SUBMITTED an application for a specific role (e.g. 'we received your application', 'thanks for applying', 'Application submitted', 'your application was sent to <employer>', 'the following items were sent to <employer>'); a line like 'Applied on <date>' also indicates a submitted application. Set is_application_confirmation=false for: reminders to COMPLETE, FINISH, CONTINUE, or SUBMIT an application ('almost there', 'complete your application', 'finish applying') which mean it was NOT submitted; interview invites; rejections; job alerts or recommendations; newsletters; marketing. Company is the actual HIRING employer, NOT the job board or ATS platform (Indeed, LinkedIn, Glassdoor, Greenhouse, Lever, Workday, Ashby); these platforms often send the confirmation on the employer's behalf, so extract the employer named in the body. For example, an Indeed email saying 'Application submitted' and 'the following items were sent to Gifthealth Inc' has company 'Gifthealth Inc', not Indeed. Only set false and leave company empty if NO real employer is named anywhere. Role is the job title; it usually follows 'your application for', 'the position of', or 'the role of', or appears near the top of the email, and may be preceded by a requisition/job ID (e.g. R0954602) and followed by a status like (Open) - extract only the readable title and drop the ID and status. Examples: from 'received your application for: R0954602 IT Operations Analyst (OhioRISE) (Open)' the role is 'IT Operations Analyst (OhioRISE)'; an Indeed email for 'IT Support Specialist I' at Gifthealth Inc has role 'IT Support Specialist I'. If it is not a confirmation or a field is truly unknown, use an empty string for that field. Respond with only a JSON object with keys is_application_confirmation (boolean), company (string), and role (string).\";\n  return {\n    json: {\n      llmBody: {\n        model: 'meta-llama/llama-3.3-70b-instruct:free',\n        temperature: 0,\n        response_format: { type: 'json_object' },\n        messages: [\n          { role: 'system', content: system },\n          { role: 'user', content: `Subject: ${subject}\\n\\nFrom: ${from}\\n\\nBody:\\n${text}` }\n        ]\n      }\n    },\n    pairedItem: { item: i }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Build prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llmBody }}",
        "options": {
          "timeout": 300000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        200
      ],
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Extract (OpenRouter)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item, i) => ({\n  json: JSON.parse((((item.json.choices || [])[0] || {}).message || {}).content && ((item.json.choices[0].message.content).match(/\\{[\\s\\S]*\\}/) || ['{}'])[0] || '{}'),\n  pairedItem: { item: i }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.is_application_confirmation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Is confirmation?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"company\": $json.company, \"role\": $json.role, \"status\": \"Applied\", \"applied\": $now.format('yyyy-LL-dd'), \"notes\": \"Auto-added from email\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -100
      ],
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Create job"
    },
    {
      "parameters": {
        "jsCode": "const norm = (s) => (s || '').toString().toLowerCase().replace(/\\b(inc|llc|ltd|corp|co)\\b\\.?/g, ' ').replace(/[^a-z0-9]+/g, ' ').trim();\nconst key = (o) => norm(o.company) + '|' + norm(o.role);\nlet existing = [];\ntry {\n  existing = await this.helpers.httpRequest({ url: 'http://api:8000/api/jobs', json: true });\n} catch (e) {\n  existing = []; // API unreachable -> fall back to within-batch dedup only\n}\nconst seen = new Set((Array.isArray(existing) ? existing : []).map(key));\nconst out = [];\nfor (const item of $input.all()) {\n  const k = key(item.json);\n  if (seen.has(k)) continue;\n  seen.add(k);\n  out.push({ json: item.json, pairedItem: item.pairedItem });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -100
      ],
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Dedup"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Build prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompt": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Is confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is confirmation?": {
      "main": [
        [
          {
            "node": "Dedup",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Dedup": {
      "main": [
        [
          {
            "node": "Create job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract (OpenRouter)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {}
}
