automation/job-ingest.workflow.json
{
  "name": "Email → Tracker (Applied)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [ { "mode": "everyX", "value": 15, "unit": "minutes" } ] },
        "simple": true,
        "filters": {
          "q": "newer_than:2d -label:tracked (subject:(\"application received\" OR \"thanks for applying\" OR \"we received your application\") OR from:(greenhouse.io OR lever.co OR myworkday.com OR ashbyhq.com))"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item, i) => {\n  const subject = item.json.subject || '';\n  const from = item.json.from || '';\n  const text = (item.json.text || item.json.snippet || '').slice(0, 6000);\n  const system = \"You classify job-application emails and output JSON only. Set is_application_confirmation=true ONLY when the email confirms the user has ALREADY SUBMITTED an application to a specific hiring company for a specific role (e.g. 'we received your application', 'thanks for applying to <company>'). Set is_application_confirmation=false for everything else, including: reminders to COMPLETE, FINISH, CONTINUE, or SUBMIT an application ('almost there', 'complete your application', 'finish applying') which mean it was NOT submitted; interview invites; rejections; job alerts or recommendations; newsletters; marketing. The company must be the actual HIRING company - job boards and ATS platforms (Indeed, LinkedIn, Glassdoor, Greenhouse, Lever, Workday, Ashby) are NOT the hiring company, so if only a platform is named with no real employer, set false and leave company empty. The job title usually follows a phrase like 'your application for', 'the position of', or 'the role of'; it may be preceded by a requisition/job ID (e.g. R0954602) and followed by a status like (Open) - extract only the readable job title and drop the ID and the status. Example: from 'received your application for: R0954602 IT Operations Analyst (OhioRISE) (Open)', the role is 'IT Operations Analyst (OhioRISE)'. Extract 'company' (hiring company) and 'role' (job title); if it is not a confirmation or a field is unknown, use an empty string.\";\n  return {\n    json: {\n      gmailId: item.json.id,\n      ollamaBody: {\n        model: 'llama3.2:3b',\n        stream: false,\n        options: { temperature: 0 },\n        format: {\n          type: 'object',\n          properties: {\n            is_application_confirmation: { type: 'boolean' },\n            company: { type: 'string' },\n            role: { type: 'string' }\n          },\n          required: ['is_application_confirmation', 'company', 'role']\n        },\n        messages: [\n          { role: 'system', content: system },\n          { role: 'user', content: `Subject: ${subject}\\n\\nFrom: ${from}\\n\\nBody:\\n${text}` }\n        ]\n      }\n    },\n    pairedItem: { item: i }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Build prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ollamaBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Extract (Ollama)"
    },
    {
      "parameters": {
        "jsCode": "const prompts = $('Build prompt').all();\nreturn $input.all().map((item, i) => {\n  const parsed = JSON.parse(item.json.message.content);\n  return {\n    json: { ...parsed, gmailId: prompts[i].json.gmailId },\n    pairedItem: { item: i }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.is_application_confirmation }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Is confirmation?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"company\": $json.company, \"role\": $json.role, \"status\": \"Applied\", \"applied\": $now.format('yyyy-LL-dd'), \"notes\": \"Auto-added from email\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Create job"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $('Parse').item.json.gmailId }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, -100],
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Mark tracked",
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [ [ { "node": "Build prompt", "type": "main", "index": 0 } ] ] },
    "Build prompt": { "main": [ [ { "node": "Extract (Ollama)", "type": "main", "index": 0 } ] ] },
    "Extract (Ollama)": { "main": [ [ { "node": "Parse", "type": "main", "index": 0 } ] ] },
    "Parse": { "main": [ [ { "node": "Is confirmation?", "type": "main", "index": 0 } ] ] },
    "Is confirmation?": { "main": [ [ { "node": "Create job", "type": "main", "index": 0 } ], [] ] },
    "Create job": { "main": [ [ { "node": "Mark tracked", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
