automation/job-ingest-imap.workflow.json
{
  "name": "Email → Tracker (Applied) — IMAP",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": { "id": "REPLACE_WITH_YOUR_IMAP_CREDENTIAL", "name": "Gmail IMAP" }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item, i) => {\n  const subject = item.json.subject || '';\n  const from = (item.json.from && item.json.from.text) || item.json.from || '';\n  const text = (item.json.text || item.json.textAsHtml || '').slice(0, 6000);\n  const system = \"You extract data from job-application emails. Decide if the email confirms that the user SUBMITTED an application (e.g. 'we received your application', 'thanks for applying'). It is NOT a confirmation if it is an interview invite, rejection, job alert, newsletter, or marketing. Extract the hiring company name and the job title. If a field is unknown or it is not a confirmation, use an empty string. Output only JSON.\";\n  return {\n    json: {\n      ollamaBody: {\n        model: 'qwen2.5:7b-instruct',\n        stream: false,\n        options: { temperature: 0 },\n        format: {\n          type: 'object',\n          properties: {\n            is_application_confirmation: { type: 'boolean' },\n            company: { type: 'string' },\n            role: { type: 'string' }\n          },\n          required: ['is_application_confirmation', 'company', 'role']\n        },\n        messages: [\n          { role: 'system', content: system },\n          { role: 'user', content: `Subject: ${subject}\\n\\nFrom: ${from}\\n\\nBody:\\n${text}` }\n        ]\n      }\n    },\n    pairedItem: { item: i }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Build prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ollamaBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Extract (Ollama)"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item, i) => ({\n  json: JSON.parse(item.json.message.content),\n  pairedItem: { item: i }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.is_application_confirmation }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Is confirmation?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"company\": $json.company, \"role\": $json.role, \"status\": \"Applied\", \"applied\": $now.format('yyyy-LL-dd'), \"notes\": \"Auto-added from email\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Create job"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": { "main": [ [ { "node": "Build prompt", "type": "main", "index": 0 } ] ] },
    "Build prompt": { "main": [ [ { "node": "Extract (Ollama)", "type": "main", "index": 0 } ] ] },
    "Extract (Ollama)": { "main": [ [ { "node": "Parse", "type": "main", "index": 0 } ] ] },
    "Parse": { "main": [ [ { "node": "Is confirmation?", "type": "main", "index": 0 } ] ] },
    "Is confirmation?": { "main": [ [ { "node": "Create job", "type": "main", "index": 0 } ], [] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
